.main-banner
	position: relative
	height: 100vh
	.contact-us-box
		position: absolute
		left: 50px
		bottom: 50px
		color: white
		width: 240px
		.one-box
			position: relative
			margin: 0 0 20px 50px
			svg
				position: absolute
				left: -25px
				width: 16px
				top: -2px
			a
				display: block
				line-height: 1.5
				font-weight: 600
				font-size: 14px
		+breakpoint(medium down)
			display: none