.footer-container
	position: relative
	height: 60px
	.footer-inner
		+y-align
		width: 100%
	.creative-box
		color: white
		position: relative
		+transition(.3s)
		svg
			width: 20px
			height: 20px
			margin-right: 10px
			fill: white

		&:hover
			letter-spacing: 1px
			// p
			// 	color: black
			// svg
			// 	fill: black
	p
		font-weight: 400
		font-size: 13px
		color: white

		&.right
			text-align: right
			+breakpoint(small only)
				text-align: left