.header-container
	position: fixed
	padding: 16px 30px
	width: 100%
	background: transparent
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	+transition-property(transform)
	+transition-duration(1s)
	z-index: 10
	.logo
		width: 210px
		line-height: 1
		svg
			width: 100%
	.button
		width: 250px
		
	+breakpoint(small only)
		padding: 16px 10px
		.logo, .button
			width: 110px