p
	font-size: 16px
	font-family: 'Montserrat', sans-serif
	font-weight: 500
	line-height: 1.5
.content-selection
	display: none
	&.active
		display: block

.success-popup-wrap
	+xy-align
	width: 700px
	max-width: 100%
	position: fixed
	// background-color: black
	opacity: 0
	pointer-events: none
	padding: 50px
	z-index: 10000
	&.visible
		opacity: 1
		pointer-events: initial
	.title
		text-align: center
		color: white
		line-height: 1.3
		font-weight: 600
		font-size: 40px
		text-transform: uppercase

#new_user
	margin-top: 100px