doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h3
       | Нова заявка на бронь

    = @reserve.name
    = @reserve.phone
    = @reserve.email
    = @reserve.comment
