= render "main_banner"
= render "nav_box"
= render "success_popup_wrap"
.about-us-wrap
	.main-banner-text-container
		.row
			.medium-9.columns
				.img-bg style="background-image: url(#{asset_path('photo/center_bg_2.png')})"
				.content-box
					.title Вітаємо в
					.head-title &laquo; Диверсанті &raquo;
					.asterisks-box
						= inline_svg "svg/star.svg"
						= inline_svg "svg/star.svg"
						= inline_svg "svg/star.svg"
					p =@main.main_description

	.about-us-content.content-tween
		.row
			.medium-6.columns.content-tween-left
				.title-whith-arrow Про нас
				p =@main.aboutus_first_description
			.medium-6.columns.content-tween-right
				.img-container
					.img-bg-whith-wood style="background-image: url(#{@main.aboutus_first_image})"
					.arrow-svg2 = inline_svg "svg/arrow.svg"
					.dots-svg2 = inline_svg "svg/mud.svg"

	.about-us-content.content-tween
		.row
			.medium-6.columns.content-tween-left
				.img-container
					.img-bg-whith-wood style="background-image: url(#{@main.aboutus_second_image})"
					.arrow-svg = inline_svg "svg/arrow.svg"
					.dots-svg = inline_svg "svg/mud.svg"

			.medium-6.columns.content-tween-right
				p =@main.aboutus_second_description


	.about-territory.content-tween
		.img-bg style="background-image: url(#{@main.area_main_image})"
		.img-bg-box.stagger-tween
			.img-container-box.stagger-tween-item
				.img-bg-whith-wood style="background-image: url(#{@main.area_first_image})"
			.img-container-box.stagger-tween-item
				.img-bg-whith-wood style="background-image: url(#{@main.area_second_image})"
			.img-container-box.stagger-tween-item
				.img-bg-whith-wood style="background-image: url(#{@main.area_third_image})"
		.row
			.medium-5.columns.content-tween-left
				.content-box
					.title-whith-svg Територія
					p  =@main.area_description


.services-goods-wrap
	.row
		.columns
			.title-whith-arrow.center.single-tween-item Послуги та розваги
	.row.content-tween
		.small-3.large-6.columns.content-tween-left
			.tab_buttons_wrapper
				ul.tabs-box.tab-buttons
					li.one-tab-box.tab-button.active
						.left-part
							.bg-svg.dib
								img src="assets/photo/list_textured.png"
							.photo-box.dib
								img src="#{@service.first.image}"
						.right-part
							.title.fn-roboto =@service.first.title
							= inline_svg "svg/arrow_small.svg"
					-@service.drop(1).each do |service|
						li.one-tab-box.tab-button
							.left-part
								.bg-svg.dib
									img src="assets/photo/list_textured.png"
								.photo-box.dib
									img src="#{service.image}"
							.right-part
								.title.fn-roboto =service.title
								= inline_svg "svg/arrow_small.svg"

		.small-9.large-6.columns.content-tween-right
			.tab-content-wrapper.content-selection-wrap
				.content-selection.active
					.img-container
						.img-bg style="background-image: url(#{@service.first.image})"
						.name-block.fn-roboto =@service.first.title
					.text-container
						.title =@service.first.title_description
						p  =@service.first.description
				-@service.drop(1).each do |service|
					.content-selection
						.img-container
							.img-bg style="background-image: url(#{service.image})"
							.name-block.fn-roboto =service.title
						.text-container
							.title =service.title_description
							p  =service.description

.gallery-wrap
	.img-bg style="background-image: url(#{asset_path('photo/texture_BG.jpg')})"
	.row
		.columns
			.title-whith-svg.center.single-tween-item Галерея

	.row.columns-left.stagger-tween
		-@gallery.each  do |gallery|
			.columns.medium-6.large-4.gallery
				.padding-box
					a.one-gallary-box.stagger-tween-item href=asset_path"#{Galleryphoto.where(gallery_id: gallery.id).first.image}"
						img src=asset_path"#{Galleryphoto.where(gallery_id: gallery.id).first.image}"
						.img-bg-whith-wood style="background-image: url(#{Galleryphoto.where(gallery_id: gallery.id).first.image})"

						.name-box
							.img-bg style="background-image: url(#{asset_path('photo/gallery_texture.png')})"
							.title-box
								.title = gallery.title
								.date = gallery.date
					-images =Galleryphoto.where(gallery_id: gallery.id)
					-images.drop(1).each do |s|
						a href=asset_path"#{s.image}"
							img src=asset_path"#{s.image}"


.testemonials-wrap
	.row
		.columns
			.title-whith-svg.center.single-tween-item Відгуки

	.row
		.large-8.columns.large-centered
			.slider-box
				.buttons-square-box
					.prev-btn#PrevArrow = inline_svg "svg/arrow_small_left.svg"
					.next-btn#NextArrow = inline_svg "svg/arrow_small.svg"
				ul.testemonials-slider
					-@review.each do |review|
						li
							p =review.text
							.person
								img.dib src=review.image
								.person-info.dib
									.name =review.name
									.sity =review.position

.instagram-photos-wrap
	.row
		.columns
			.title-whith-arrow.center.single-tween-item Instagram
			.hashtag.single-tween-item # diversant
	/ 
	/ .insta-blocks.stagger-tween
	/ 	.row.columns-left
	/ 		- @json.each do |json|
	/ 			.columns.medium-6.large-3
	/ 				a.one-insta-block.stagger-tween-item href="#{json["link"]}"
	/ 					.img-bg style="background-image: url(#{json["images"]["standard_resolution"]["url"]})"
	/ 					.content-box
	/ 						.name.dib =json["user"]["username"]
	/ 						p.dib  =json["caption"]["text"]


.contact-us-wrap#contact-us
	.form-container
		.img-bg style="background-image: url(#{asset_path('photo/form_BG.png')})"
		.inner-form
			.title.fn-roboto Забронювати
			form.ajax-form action="/reserve" method="post" enctype="multipart/form-data"
				.row
					.large-6.columns
						.input-field
							input#name name="firstname" type="text" required=""
							label Імʼя
						.input-field
							input#phone name="phone" type="text" required=""
							label Телефон
						.input-field
							input#mail name="mail" type="text" required=""
							label Ел.скринька
					.large-6.columns
						.input-field
							textarea#comment rows="13" name="comment"
							label.textarea Залиште коментар

				button type="submit"
					img src=asset_path"svg/form_button.jpg"

.map-wrap
	.map-container
		.row
			.columns.large-4.large-push-1
				.contact-us-container
					.img-bg style="background-image: url(#{asset_path('photo/contact_BG.png')})"
					.inner-container
						.title-whith-arrow Контакти
						.one-contact-box
							.icons = inline_svg "svg/ic_phone_iphone_white_24px.svg"
							a href="tel:#{@main.first_number}" #{@main.first_number}
							a href="tel:#{@main.second_number}" #{@main.second_number}
							-if @main.third_number
								a href="tel:#{@main.first_number}" #{@main.first_number}
						.one-contact-box
							.icons = inline_svg "svg/ic_location_on_white_24px.svg"
							a href=""
								|#{@main.adress}
								br
								|#{@main.lattitude},#{@main.longtitude}
						.one-contact-box
							a.social href="#{@main.facebook}" =inline_svg "svg/facebook.svg"
							a.social href="#{@main.youtube}" =inline_svg "svg/youtube.svg"
							a.social href="#{@main.telegram}" =inline_svg "svg/telegram.svg"
		#googleMap
