html
  height: 100%
body
  min-height: 100%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  background: white
  font-family: 'Montserrat', sans-serif
  background-image: url(#{asset_path('photo/BG_pattern.jpg')})
  background-repeat: repeat

  .main-wrapper
    flex: 1
    overflow-x: hidden
  &.menu-opened
    overflow: hidden
  &.opened-popup
    overflow: hidden
    position: relative
    &:before
      content: ""
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.7)
      z-index: 300


.small
  font-size: 0.75rem
.smaller
  font-size: 0.875rem
.regular
  font-size: 1rem
.larger
  font-size: 1.125rem
.large
  font-size: 1.25rem





