.about-us-wrap
	padding-top: 300px
	position: relative
	.main-banner-text-container
		width: 840px
		height: 590px
		+x-align
		top: -350px
		max-width: 100%
		
		.content-box
			+xy-align
			color: white
			text-align: center
			text-shadow: 0px 5px 0px rgba(0, 0, 0, 1)
			text-transform: uppercase
			font-weight: 600
			width: 80%
			.title
				font-size: 32px
			.head-title
				font-size: 78px
				padding: 10px 0 40px
				font-family: 'Roboto Slab', serif
			.asterisks-box
				padding-bottom: 40px
				svg
					width: 13px
					height: 13px
					margin-right: 20px
					fill: white
					&:last-child
						margin-right: 0
			p
				text-shadow: 0px 5px 2px rgba(0, 0, 0, 0)
				font-weight: 500
				text-transform: initial

			+breakpoint(small only)
				width: 90%
				.title
					font-size: 24px
				.head-title
					font-size: 36px

	.about-us-content
		margin-bottom: 50px
		// overflow-x: hidden
		.arrow-svg, .arrow-svg2, .dots-svg2, .dots-svg
			width: 200px
			height: 20px
			position: absolute
			z-index: 10
		.arrow-svg
			top: 65px
			left: -90px
			+rotate(260deg)
		.arrow-svg2, 
			bottom: -20px
			left: -20px
			+rotate(180deg)
		.dots-svg2
			top: 60px
			right: -120px
			+rotate(90deg)
		.dots-svg
			bottom: -40px
			right: -20px
			+rotate(180deg)

		+breakpoint(small only)
			.img-container
				margin: 20px 0



	.about-territory
		position: relative
		padding-bottom: 50%	
		margin-top: 200px
		.content-box
			position: relative
		+breakpoint(small only)
			margin-top: 80px
			padding-bottom: 125%
			.img-bg
				top: 100px
			.content-box
				p
					max-height: 170px
					overflow: hidden
	.img-bg-box
		+x-align
		bottom: -100px
		width: 100%
		text-align: center
		.img-container-box
			width: 30%
			display: inline-block
			height: 350px
			position: relative
			margin-right: 50px 
			&:last-child
				margin-right: 0
		+breakpoint(small only)
			display: none
			



.services-goods-wrap
	padding: 300px 0 150px
	+breakpoint(small only)
		padding: 100px 0 50px
	.tabs-box
		counter-reset: list
		li.one-tab-box
			background-color: white
			height: 50px
			width: 100%
			position: relative
			z-index: 2
			display: -webkit-inline-flex
			display: -moz-inline-flex
			display: -ms-inline-flex
			display: -o-inline-flex
			display: inline-flex
			margin-bottom: 10px
			cursor: pointer
			+transition(.3s)
			counter-increment: list
			&:before
				content: ""counter(list)
				font-size: 24px
				color: white
				position: absolute
				left: 20px
				top: 11px
				font-weight: 600
				text-shadow: 0px 5px 0px rgba(0, 0, 0, 1)

			.left-part
				.bg-svg 
					img
						width: 60px
						
				.photo-box
					position: relative
					left: -10px
					z-index: -1
					img
						width: 70px
						+transition(.3s)
						
				img
					height: 50px
			
			.right-part
				padding: 5px
				.title
					text-transform: uppercase
					font-weight: 600
					font-size: 24px
					line-height: 1.7
				
				svg
					+y-align
					right: 10px
					width: 70px
					height: 30px
					opacity: 0
					+translate(-30%,-50%)
					+transition(.3s)

			&:hover, &.active
				box-shadow: 3px 3px 0px rgba(0, 0, 0, 1)
				.left-part
					.photo-box
						img
							width: 100px
				.right-part
					svg
						opacity: 1
						+translate(0%,-50%)

			+breakpoint(medium down)
				background-color: transparent
				&:hover, &.active
					box-shadow: none
				.right-part
					display: none
			+breakpoint(small only)
				.left-part
					.photo-box
						display: none
	.content-selection
		background-color: white
		.img-container
			.img-bg
				&:before
					content: ""
					background-image: url(#{asset_path('photo/mud_line.png')})
					width: 100%	
					height: 50px
					z-index: 10
					position: absolute
					bottom: -30px
						
			.name-block
				position: absolute
				color: white
				font-size: 24px
				left: 20px
				bottom: 35px
				font-weight: 600
				text-transform: uppercase

		.text-container
			padding: 50px
			.title
				font-weight: 500
				line-height: 1.5
				padding-bottom: 20px
			p
				font-weight: 400
			
			+breakpoint(small only)
				padding: 25px



.gallery-wrap
	position: relative
	padding: 150px 0 
	+breakpoint(small only)
		padding: 50px 0
	.padding-box
		padding: 30px
	.one-gallary-box
		padding-bottom: 100%
		position: relative
		margin-bottom: 30px
		display: block
		.name-box
			position: absolute
			width: 100%
			height: 85px
			left: 0
			right: 0
			bottom: 0
			z-index: 11
			.title-box
				text-align: center
				color: white
				position: relative
				top: 20px
				.title
					font-weight: 600
					padding-bottom: 10px
	a
		img
			display: none


.testemonials-wrap
	padding: 70px 0
	position: relative
	background-color: white
	.person
		text-align: center
		margin-top: 30px
		img
			width: 60px
			height: 60px
			border-radius: 50%
			display: inline-block
			margin-right: 10px
		.person-info
			text-align: left
			.name
				font-weight: 500
				padding-bottom: 5px

	.slider-box
		position: relative
		.buttons-square-box
			width: 100%
			height: 100%
			+y-align
			.prev-btn, .next-btn
				position: absolute
				cursor: pointer
				svg
					width: 50px 

			.prev-btn
				left: -120px
			.next-btn
				right: -120px

			+breakpoint(medium down)
				display: none


.instagram-photos-wrap
	padding: 100px 0
	+breakpoint(small only)
		padding: 100px 0 0
	.hashtag
		position: relative
		left: 50%
		+translate(-50%,0)
		background-color: black
		padding: 12px 15px
		color: white
		font-weight: 600
		width: 175px
		font-size: 20px
		text-align: center

	.insta-blocks
		margin-top: 50px
		.one-insta-block
			+square
			position: relative
			margin-bottom: 20px
			display: block
			.content-box
				opacity: 0
				+fullsize
				z-index: 1
				color: white
				padding: 10px
				min-height: 280px
				overflow: hidden
				+translate(0,-10%)
				+transition(.3s)
				.name
					font-weight: 600
					padding-right: 5px

			&:hover
				.content-box
					opacity: 1
					+translate(0,0)


.contact-us-wrap
	position: relative
	height: 70vh
	+breakpoint(medium down)
		height: 100vh
	.form-container
		padding-bottom: 62%
		position: relative
		width: 1300px
		margin: auto
		max-width: 100%
		@media only screen and (min-width: 1530px) and (max-width: 1750px)
			padding-bottom: 61% !important
		+breakpoint(xxlarge up)
			width: 1500px
			padding-bottom: 50%


		.inner-form
			+xy-align
			width: 1000px
			+translate(-50%,-60%)
			max-width: 90%
			.title
				color: white
				font-weight: 600
				padding-bottom: 30px
				font-size: 60px
				text-align: center
			button 
				+x-align
				bottom: -70px
		+breakpoint(large only)
			padding-bottom: 71%
		+breakpoint(medium only)
			padding-bottom: 170%
		+breakpoint(small only)
			padding-bottom: 270%
			.inner-form
				.title
					font-size: 40px
					padding-bottom: 0


.map-wrap
	position: relative
	height: 60vh
	margin-top: 200px
	@media only screen and (min-width: 1530px) and (max-width: 1750px)
		margin-top: 450px
		height: 80vh
	+breakpoint(xlarge only)
		margin-top: 390px
		height: 83vh
	+breakpoint(small only)
		margin-top: 260px
		height: 100vh

	.map-container, #googleMap
		height: 100%
		button, .gmnoprint
			display: none

		.contact-us-container
			position: absolute
			top: 60px
			z-index: 1
			width: 100%
			padding-bottom: 15%
			.inner-container
				padding: 50px
				.title-whith-arrow
					margin-top: 40px
					padding-bottom: 25px

				.one-contact-box
					position: relative
					margin-left: 40px
					a
						display: block
						font-size: 18px
						font-weight: 500
						padding-bottom: 10px
						line-height: 1.7
						&:hover
							color: #801516
					.icons
						position: absolute
						left: -30px
						svg
							fill: black

					.social
						display: inline-block
						margin-right: 20px
						&:hover
							.cls-5, svg
								fill: #801516
							