.row.columns-left
  .columns
    float: left !important

.dib
  display: inline-block
  vertical-align: middle
  line-height: 1

.clearfix
  position: relative
  +clearfix
  .floated
    float: left
  .floated-right
    float: right

.float-right
  @media #{$medium-up}
    float: right !important
.float-left
  @media #{$medium-up}
    float: left !important

.mobile
  @media #{$medium-up}
    display: none
.desktop
  @media #{$small-only}
    display: none

.img-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56%
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  // overflow: hidden

.img-bg
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  +transition(1s)

.img-bg-whith-wood
  +fullsize
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  &:before
    position: absolute
    width: 100%
    height: 100%
    bottom: -10px
    right: -10px
    z-index: -1
    content: ""
    background-image: url(#{asset_path('photo/wood_texture.jpg')})
    


.lightened
  +grayscale
  background-color: rgba(255,255,255,0.75)
  background-blend-mode: lighten

.darken
  +grayscale
  background-color: rgba(0,0,0,0.25)
  background-blend-mode: darken


.title-whith-arrow, .title-whith-svg
  font-size: 52px
  font-weight: 600
  position: relative
  font-family: 'Roboto Slab', serif
  padding-bottom: 40px
  display: inline-block
  &:before
    content: ""
    background-image: asset_url('svg/arrow_transparent.svg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: inline-block
    width: 220px
    height: 25px
    position: absolute
    left: -25px
    top: -10px
  &.center
    +translate(-50%,0)
    left: 50%

.title-whith-svg
  &:before
    background-image: asset_url('svg/mud_transparent.svg')
    top: 0


.fn-roboto
  font-family: 'Roboto Slab', serif

.lg-close
  &:after
    +transition(.3s)
  &:hover
    &:after
      +rotate(90deg)