.footer-container
	.img-bg style="background-image: url(#{asset_path('photo/gallery_texture.png')})"
	.footer-inner
		.row
			.columns.medium-5
				a.creative-box href="https://voroninstudio.eu" target="_blank"
					.dib= inline_svg "svg/v-logo.svg"
					p.dib Розроблено у VORONIN STUDIO в 2018 році
			.columns.medium-5
				p.right © СБ «ДИВЕРСАНТ». Всі права застережено.