.main-banner#main-banner
	ul.slider
		-@slider.each do |s|
			li
				.img-bg style="background-image: url(#{s.image})"


	.contact-us-box
		.one-box
			= inline_svg "svg/ic_phone_iphone_white_24px.svg"
			a href="tel:#{@main.first_number}" #{@main.first_number}
			a href="tel:#{@main.second_number}" #{@main.second_number}
			-if @main.third_number
				a href="tel:#{@main.first_number}" #{@main.first_number}
		.one-box
			= inline_svg "svg/ic_location_on_white_24px.svg"
			a href="" #{@main.adress} #{@main.lattitude} #{@main.longtitude}
