/ .fixed-side-navbar.desktop
/ 	nav.anchor-nav role="navigation"
/ 		a href="#intro" id="intro-anchor"
/ 			span = t("label.first")
/ 		a href="#div-1" id="anchor1"
/ 			span = t("label.second")
/ 		a href="#div-2" id="anchor2"
/ 			span = t("label.third")
/ 		a href="#div-3" id="anchor3"
/ 			span = t("label.fourth")
/ 		a href="#div-4" id="anchor4"
/ 			span = t("label.fifth")
/ 		a href="#div-5" id="anchor5"
/ 			span = t("label.sixth")
